* {
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  /*margin:0;
  padding: 0;*/
  text-align:justify;
}

h1 {
    text-align:center;
    margin-top:2em;
}

p {
    margin :1.5em;
}

.row {
    position:relative;
}

.title {
    position: absolute;
    border: 1px solid black;
    width:30%;
    right:-1px;
    top:-1px;
    text-align:center;
}

.section {
    position:relative;
    background-color:#64BDB6;
    border: 1px solid green;
    margin : 10px;
    float:left;
}

#chicken {
    background-color : #F9C26C;
}

#beef {
    background-color : #F3350F;
}

#sushi {
    background-color : #E37143;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
  body {
    background-color: #EAEAEA;
  }
}
/********** small devices only **********/
@media (max-width: 767px)  {
  .col-xs-12 {
    width: 100%;
    float: left;
  }
  body {
    background-color: #C7E4FE;
  }
}
