body {
    text-align:justify;
}

.section {
    background-color : #D7D7FF;
    border: 2px solid black;
    border-radius: 20px;
}

.section p {
    padding : 1em;    
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #D7D7FF;
  font-size: 1.4em;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px #D7D7FF;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header {
  border: 1px solid #9DAFF3
}
