body {
    text-align:justify;
}

.title {
    border: 1px solid black;
    width:100%;
    text-align:center;
}

.section {
    background-color : blue;
    border: 2px solid black;
    border-radius: 20px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.4em;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px #9DAFF3;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header {
  border: 1px solid #9DAFF3
}


